*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.container-sm{
    width: 80%;
    margin: 0 auto;
}

header{
    height: 70px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
}

.jumbotron{
    margin: 50px 0px;
    width: 100%;
}

.testimonial{
    margin: 50px 0px;
    width: 100%;
}

.card{
    width: 100%;
}

.get-started{
    width: 100%;
    height: 200px;
    background-color: pink;
}

.row{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.col-50{
    height: 50px;
    width: 100%;
    background-color: orange;
    border: 1px solid black;
    margin: 5px 0px;
}

.col-70{
    height: 100px;
    width: 100%;
    background-color: red;
    margin:5px 0px ;
}

.col-30{
    height: 100px;
    width: 100%;
    background-color: yellow;
    margin: 5px 0px;
}

.col-33{
    height: 100px;
    width: 100%;
    background-color: orange;
    margin: 5px 0px;
    border: 1px solid black;
}

.col-100{
    height: 200px;
    width: 100%;
    background-color: green;
    margin: 5px 0px;
    border: 1px solid black;
}

.text{
    height: 150px;
    width: 100%;
    background-color: purple;
    margin: 5px 0px;
}


/* Responsive  */

@media screen and (min-width:768px){
    
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .container-sm{
        width: 80%;
        margin: 0 auto;

    }

    .jumbotron .row, .about-us .row{
        flex-direction: row;
    }


    .col-70{
        height: 100px;
        width: 70%;
        background-color: red;
        margin:5px 0px ;
    }
    
    .col-30{
        height: 100px;
        width: 30%;
        background-color: yellow;
        margin: 5px 0px;
    }
    
    .card .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card .row .col-33{
        width: calc(100%/2 - 15px);
        background-color: blue;
        margin: 0px 5px;
        border: 1px solid black;
    }
}

@media  screen and (min-width:991px) {
    
    .bk-purple .row{
        flex-direction: row;
    }

    .col-50{
        height: 50px;
        width: 50%;
        background-color: orange;
        border: 1px solid black;
        margin: 5px 0px;
    }

    .card .row .col-33{
        width: calc(100%/3 - 15px);
        background-color: blue;
        margin: 0px 5px;
        border: 1px solid black;
    }

}