*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}

.container{
    width: 90%;
    margin: 0 auto;
}

.container-sm{
    width: 80%;
    margin: 0 auto;
}

main p{
    line-height: 2;
}

header{
    height: 70px;
    width: 100%;
    background-color: #0084fd;
    display: flex;
    align-items: center;
    color: #fff;
}

footer{
    text-align: center;
    background-color: #333333;
    color: #fff;
}

/* strutturato con mobile first */

.jumbotron{
    margin: 50px 0px;
    width: 100%;
}

.testimonial{
    margin: 50px 0px;
    width: 100%;
}

.card{
    width: 100%;
}


.get-started{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}

header .row{
    flex-direction: row;
}

.row{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-50-header{
    width: 100%;
    margin: 5px 0px;
}

.col-50{
    width: 100%;
    margin: 5px 0px;
}

.col-50.bk-white{
    background-color: #fff;
    margin: 40px 0px;
    padding: 20px;
    text-align: center;
}
.col-70{
    width: 100%;
    margin:15px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px 20px 0px;
}

.col-30{
    width: 100%;
    margin: 15px 0px;
    border-radius: 20px;
    padding: 20px ;
}

.col-33{
    width: 100%;
    margin: 15px 0px;
    border-radius: 20px;
    padding: 20px 20px 20px;
}

.col-33.jumbo{
    background-color: #b5ddff;
    text-align: center;
}


.col-33.benefit{
    background-color: #fff;
    color: #9792e4;
}


.col-33 p{
    color: #767676;
}

.col-100{
    width: 100%;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text{
    width: 100%;
}

/* button */

.button{
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
}

.button.blue{
    background-color: #0680f5;
    margin: 20px 0px;
}

.button.violet{
    background-color: #9792e4;
    color: #fff;
    margin: 20px 0px;
}

.button.white{
    color: #9792e4;
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 40px;

}

.about-us .button{
    padding: 10px 10px;
}

#apple{
    font-size: 20px;
    color: #fff;
    margin: 0;
}

/* Utility */

.padding-20px{
    padding: 20px;
}

.padding-b-50px{
    padding-bottom: 50px;
}

.padding-l-10px{
    padding-left: 10px;
}

.margin-bt-40px{
    margin: 40px 0px;
}

.margin-b-10px{
    margin-bottom: 10px;
}


.margin-b-20px{
    margin-bottom: 20px;
}

.margin-b-50px{
    margin-bottom: 50px;
}

.border-radius-50px{
    border-radius: 50px;
}

.color-white{
    color: #fff;
}

.line-height-2{
    line-height: 2;
}

.font-size-40px{
    font-size: 40px;
}

.txt-center{
    text-align: center;
}

.italic{
    font-style: italic;
}


.bk-violet{
    background-color: #9792e4;
}

.bk-light-blue{
    background-color: #b5ddff;
}


/* Header */

.list-desktop{
    display: none;
}

.hamburger{
    text-align: right;
    font-size: 35px;
}

/* fine header */

/* main */
/* jumbotron */

.jumbotron h3{
    color: #0680f5;
    margin-bottom: 30px;
    font-size: 20px;
}

.jumbotron p{
    color: #767676;
}

.jumbotron img{
    width: 50%;
}

.jumbotron i{
    color: #0680f5;
    font-size: 70px;
    margin: 20px 0px;
}

/* Planning */

.bk-purple{
    background-color: #9792e4;
    padding: 40px 0px;
}

.bk-purple img{
    width: 100%;
}

.fa-arrow-down{
    background-color: #9792e4;
    padding: 10px 14px;
    border-radius: 100%;
    margin-top: 20px;
}

/* Testimonials */

.testimonial img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0px;
}

.testimonial h2{
    color: #9792e4;
    margin: 20px 0px;
}

.testimonial h3{
    margin: 30px 0px 10px;
}

/* Benefit */

.benefit h2{
    font-size: 50px;
    margin: 20px 0px;
}

.benefit h3{
    margin: 20px 0px;
}

/* About Us */

.about-us h2{
    color: #9792e4;
    margin: 20px 0px;
    font-size: 60px;
    align-self: start;
}

.about-us h3{
    color: #9792e4;
}

.about-us img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0px;
}

.image-about{
    position: relative;
}

.image-about i{
    position: absolute;
    color: #9792e4;
    font-size: 40px;
    left:110px;
    bottom: 135px;
}

/* Get started */
.get-started{
    color: #fff;
}

.get-started i{
    font-size: 5px;
    transform: translateY(-5px);
}

.get-started p{
    margin: 40px 0px;
}

.text-big-yellow{
    font-size: 80px;
    color:#fdc15f ;
}

.get-started a{
    color: #fff;
}

/* fine main */
/* footer */

footer p{
    padding: 50px 0px;
}

footer a{
    color: #7f7cbb;
}

/* Responsive  */

@media screen and (min-width:768px){
    
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .container-sm{
        width: 80%;
        margin: 0 auto;

    }

    .jumbotron .row, .about-us .row, .col-100{
        flex-direction: row;
    }

    .jumbotron .row, .about-us .row{
        justify-content: space-between;
    }

    .card .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-33.jumbo{
        width: calc(100% / 3 - 20px );
        margin: 10px 0px;
    }
    

    .col-70{
        width: 65%;
        margin:0px ;
    }
    
    .col-30{
        width: 30%;
        margin: 0px;
    }
    
    .col-100{
        flex-direction: row;
    }

    .testimonial img{
        margin: 20px 30px 20px 0px;
    }

    .card .row .col-33{
        width: calc(100%/2 - 40px);
        margin: 10px 10px;
    }


}

@media  screen and (min-width:991px) {
    
    .hamburger{
        display: none;
    }

    .list-desktop{
        display: block;
    }


    .bk-purple .row{
        flex-direction: row;
    }

    .col-50{
        height: 50px;
        width: 50%;
        background-color: orange;
        border: 1px solid black;
        margin: 5px 0px;
    }

    .card .row .col-33{
        width: calc(100%/3 - 15px);
        background-color: blue;
        margin: 0px 5px;
        border: 1px solid black;
    }

}